/* About.css */

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* background: linear-gradient(45deg, #f06, #9f6); */
  }
  
  .about-container.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .about-heading {
    font-size: 28px;
    color: #ebb00b; /* Text color */
    margin-bottom: 20px;
  }
  
  .highlighted-text {
    color: #ff6b6b; /* Highlighted text color */
  }
  
  .about-paragraph {
    font-size: 18px;
    color: #fff; /* Paragraph text color */
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  /* Animated colored lines */
  .about-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px; /* Line height */
    background: linear-gradient(90deg, #ff6b6b, #2d8df6); /* Gradient colors */
    animation: animateLine 2s infinite; /* Animation */
  }
  
  @keyframes animateLine {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  